@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #f1f1f1;  
    color: #0f141e;
    font-size: 28px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
}

a:visited{
    color: gray;
}

.avatar{
    width: 320px ;
    height:380px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(1, 1, 1, 0.25);
    /*aspect-ratio: 1/1;*/
}

.info{
    display: flex;
    margin-bottom: 20px;

}

@media(max-width: 700px){
    .info{
        display: block;
        text-align: center;
    }
}


.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    line-height: 1.2;

}

.info-text{
    margin-left: 40px;
}

.social{
    background: rgb(150, 150, 233);
    margin-bottom: 20px;
}

.container{
    max-width: 1500px;  
    margin: auto; 
    padding-top: 20px;

}

.bg-yelloy{
    background: #fff9dc;
    padding: 15px 20px;
}

.bg-green{
    background: #e5ffe7;
    padding: 15px 20px;
} 

.bg-red{
    background: #ffe5e5;
    padding: 15px 20px;
}

.list{
    padding: 0 20px;
}
.list li{
    color: #86898f;
    margin-bottom: 10px;  
}


.learn{
    list-style: none;
    padding: 0;
}

.learn li{
    padding-bottom: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;

}
.card{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.contents{
    max-width: 1500px;  
    margin: auto; 
    padding-top: 20px;  
    background: #ffe5e5;
    padding: 15px 20px; 
    justify-content: space-between;
}

.list-activ{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: 15px 0px;
    flex-wrap: wrap;
    gap: 20px;
}

/* .footer{
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: 15 px 50 px;
     flex-wrap: wrap; 
     gap: 20px;   
}
.contents-footer{
    max-width: 1500px;  
    margin: auto; 
    padding-top: 20px;  
    background: #ffe5e5;
    padding: 15px 20px; 
    justify-content: space-between;  
    height: 50 px;
} */
.footer{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.contents_footer{
    width: 100%;
    display: flex;
    background: #fff9dc;
    justify-content: space-between;  
    align-items: center;
    padding: 0 40px;
    border-radius: 20px;
     
}
